{{#paper-toolbar}}

  <div class="menu">
       {{#link-to 'index'}}
            <h1>
              <em>AfriCuisine</em>
            </h1>
        {{/link-to}}
          <div class="links">
            {{#link-to 'home'}}{{paper-icon "home"}}
              Home
            {{/link-to}}
            {{#link-to 'menu'}}{{paper-icon "restaurant-menu"}}
              Menu
            {{/link-to}}
           {{#link-to 'about'}}{{paper-icon "group"}}
          About
        {{/link-to}}
        {{#link-to 'contact'}}{{paper-icon "contacts"}}
          Contact
        {{/link-to}}
        {{#link-to 'checkout'}}{{paper-icon "shopping-cart"}}
          Cart: {{cart.items.length}} Items
        {{/link-to}}
        
      </div>
    </div>
    <div class="body">
          {{outlet}}
  </div>
    <footer>
  	    <p>©AfriCuisine 2017</p>
  	</footer>

{{/paper-toolbar}}
