<article class="listing">
{{#each cart.items as |item|}}
<div class="cart-item">
  <h4>{{item.name}}</h4>

  <span>Price:$</span>{{item.price}}

  <button {{action 'removeItem' item}}>Remove Item</button>
</div>
{{/each}}
<button {{action 'clear'}}>Clear Cart</button>
<hr>
Total: ${{cart.total}}
</article>
{{stripe-checkout
  name="Africuisine Inc."
  description="Buy Food Items"
  amount=cart.centsTotal
  action="processStripeToken"
}}

<!-- {{#paper-list}}
  {{#each cart.items as |item|}}
    {{#paper-item class="md-3-line"}}
      <div class="md-list-item-text">
        <h3>{{item.name}}</h3>
        <h4>{{item.price}}</h4>
        <p>{{item.desc}}</p>
      </div>
      {{paper-divider}}
      {{#paper-button}}{{action 'removeItem' item}}Remove{{/paper-button}}
    {{/paper-item}}
  {{/each}}
  <button {{action 'clear'}}>Clear Cart</button>
  <hr>
  Total: ${{cart.total}}
{{/paper-list}}

{{stripe-checkout
  name="Africuisine Inc."
  description="Buy Food Items"
  amount=cart.centsTotal
  action="processStripeToken"
}} -->
