<article class="listing">
{{#each cart.items as |item|}}
<div class="cart-item">
  <h4>{{item.name}}</h4>

  <span>Price:$</span>{{item.price}}
&nbsp;&nbsp;
  <!-- <button {{action 'removeItem' item}}>Remove Item</button> -->
  {{#paper-button raised=true onClick=(action "removeItem" item)}}Remove Item{{/paper-button}}
</div>
{{/each}}
<!-- <button {{action 'clear'}}>Clear Cart</button> -->
{{#paper-button raised=true primary=true onClick=(action "clear")}}Clear Cart{{/paper-button}}
<hr>
Total: ${{cart.total}}
</article>

{{stripe-checkout
  name="Africuisine Inc."
  description="Buy Food Items"
  amount=cart.centsTotal
  action="processStripeToken"
}}
